/.idea/.gitignore
/.idea/.name
/.idea/jarRepositories.xml
/.idea/java-project-71.iml
/.idea/misc.xml
/app/.idea/misc.xml
/.idea/modules.xml
/app/step7
/app/step7project71
/app/step8
/app/step9
/app/step9done
/app/step10
/.idea/uiDesigner.xml
/.idea/vcs.xml
/app/.idea/vcs.xml
/.idea/gradle.xml
/.idea/
